<%- include('header') -%>

   <h1>About us</h1>
   <p>I am <strong>Guru Sahoo</strong>, a self taught developer, proficient in Javascript(MERN Stack). I have built this <strong>To Do List</strong>.</p>
   <p>Feel free to contact me.</p>

<%- include('footer') -%>